@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #006290;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-family: "Ubuntu", serif;
  color: #ffffff;
}

/* I. HEADER */
/* A. Banner de Encabezado - Contacto y Redes  */
.banner-top {
  color: rgba(253, 0, 0, 0.9921568627);
  background-color: rgba(0, 251, 88, 0.9843137255);
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 3px;
  font-size: 14px;
}

.contact-info img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  margin-right: 5px;
}

.contact-info a {
  color: rgba(253, 0, 0, 0.9921568627);
  background-color: rgba(0, 251, 88, 0.9843137255);
  text-decoration: none;
  margin-right: 10px;
}

.contact-info a:hover,
.contact-info a:active {
  color: #ffffff;
}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

.banner-top a:hover img,
.banner-top a:active img {
  /* Cambia el color de las imagenes a blanco cuando hago hover o las cliqueo */
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

/* B. Banner Principal - Título y logo */
.titulo-logo {
  background-color: #0C0C89;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 20px;
}

.titulo-logo img {
  width: 180px;
  height: auto;
}

/* II. NAVBAR: Menú de navegación (basado en bootstrap) */
.navbar {
  color: rgba(253, 0, 0, 0.9921568627);
  background-color: rgba(0, 251, 88, 0.9843137255);
  /* Mismo color de fondo que banner-top */
  padding: 1px;
}

.navbar-titulo {
  color: #0C0C89;
  text-decoration: none;
  background-color: #83E2E2;
  font-weight: bold;
  border: 1px solid #0C0C89;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  /* border-radius: Redondea la esquina elegida del borde (en este caso todas pero podes asignarle top-left etc */
}

/* navbar - estilos en links */
.navbar-nav .nav-link {
  color: #0C0C89;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  /* Color de los enlaces al pasar el ratón por encima */
  text-decoration: none;
  /* Asegúrate de que no haya subrayado */
}

#navbarNav ul {
  align-items: center;
}

/* navbar - sin scrollear */
.navbar-fixed img.navbar-logo {
  display: none;
}

.navbar-fixed navbar-text {
  display: none;
}

.navbar-fixed p {
  display: none;
}

/* navbar - en scroll */
.navbar-titulo.scrolled {
  display: none;
}

nav .navbar-logo.scrolled {
  display: block;
  height: 3em;
  max-height: 100%;
  padding-left: 20px;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

.navbar-text.scrolled {
  display: block;
  margin: 0 10px;
  font-size: 26px;
  font-weight: bold;
  color: #0C0C89;
}

.navbar-collapse {
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

/* III. MAIN - Contenido principal de la página */
/* A. Elementos en general */
h3 {
  color: #83E2E2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  -webkit-text-stroke: 1px #0C0C89;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

/* B. Cita */
.cita {
  margin: 0 0 10px 50px;
  padding: 3px 25px;
  font-style: italic;
  text-align: right;
  color: #83E2E2;
  border-left: 4px solid #83E2E2;
  border-right: 4px solid #83E2E2;
  background-color: rgba(255, 255, 255, 0.1019607843);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
}

#leonardo {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2px;
}

/* C. Contenedor Grid*/
.contenedor-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 80px 100px repeat(2, 250px);
  padding-top: 50px;
  grid-template-areas: "titulo titulo titulo" "foto1 texto1 texto1" "foto1 foto2 foto2" "texto2 foto3 texto3";
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.contenedor-grid img {
  width: 80%;
  height: 80%;
  align-self: center;
}

.contenedor-grid p {
  font-size: 18px;
}

.grid-titulo-1 {
  grid-area: titulo;
}

.grid-img-1 {
  grid-area: foto1;
  justify-self: left;
  align-self: self-start;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: foto2;
  justify-self: right;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: foto3;
  align-self: self-end;
}

.grid-texto-3 {
  grid-area: texto3;
}

/* IV. FOOTER - Pie de página y scripts */
/* A. Pie de página */
.copyright p {
  text-align: right;
  font-style: italic;
  color: rgba(253, 0, 0, 0.9921568627);
  background-color: rgba(0, 251, 88, 0.9843137255);
  /* Color de fondo */
  /* Color del texto */
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 0px;
}

/* 2.) SUBPAGINAS (solo aplicable a ciertas subpaginas */
/*  Boton de home para todas las subáginas menos index.html */
.home {
  height: 30px;
  margin-left: 20px;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

/* I. SUBPAGINA NOSOTROS */
/* A. Ejemplos de inserción multimedia relativa y externa */
.multimedia {
  text-align: right;
}

.multimedia p {
  text-align: right;
}

.musica {
  margin-top: 20px;
}

audio {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ADD8E6;
  /* Estilos adicionales */
}
audio::-webkit-media-controls-panel {
  background-color: #ADD8E6;
}

audio:hover {
  background-color: #0C0C89;
}

.video {
  margin-top: 20px;
}

/* B. BOOTSTRAP - Carrousel */
.carousel-caption h4 img {
  width: 30px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.carousel-inner img {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.carousel-caption {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 8px;
  box-sizing: border-box;
}

/* II. SUBPAGINA DE CONTACTO */
/* A. formulario */
form.contacto {
  width: 90%;
  color: #0C0C89;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ADD8E6;
}

form.contacto label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #000000;
}

form.contacto input,
form.contacto textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* B. Mapa insertado */
#mapa {
  width: 48%;
  color: #0C0C89;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ADD8E6;
}

/* C. BOOTSTRAP - Cards */
.card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  color: #0C0C89;
  background-color: #ADD8E6;
}

.card img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

.boton, .btn-primary, .boton-yt {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  background-color: #0C0C89;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton-yt img {
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

.boton-yt {
  color: #0C0C89;
  background-color: #ADD8E6;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-primary {
  background-color: #0C0C89;
  width: -moz-fit-content;
  width: fit-content;
}

.boton:hover, .boton-yt:hover, .btn-primary:hover {
  background-color: #006290;
}

.boton-yt:hover {
  color: #ADD8E6;
  background-color: #0C0C89;
}

.boton-yt:hover img {
  filter: brightness(0) saturate(100%) invert(96%) sepia(85%) saturate(873%) hue-rotate(167deg) brightness(94%) contrast(91%);
}

/* B. Scripts */
.whatsapp-btn {
  color: #ffffff;
  text-decoration: none;
}

a.whatsapp-btn {
  background-color: transparent;
}

.scrollup img {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 2%;
  bottom: 8%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  display: block;
  /* Asegura que la imagen se muestre como un bloque */
  border-radius: 50%;
  /* Animación de respiración */
}

/* 4.) KEYFRAMES (animación) */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* 3.) MEDIA QUERIES */
/* TELEFONO (hasta 500px) CAMBIARR ESTA EN 700 para probar en pc*/
/* TABLET (hasta 992px) solo para el TP final*/
@media (max-width: 500px) {
  /* Esta parte  (max-width: 500px) es solo porque el navbar de bootstap viene con un tercer tamaño mediano (tablet) que da un tercer formato, entonces hice ésto para simplificarlo para la entrega, en la que se requieren solo dos tamaños*/
  nav .navbar-logo.scrolled {
    display: none;
  }
}
/* TAMAÑO PEQUEÑO (SERÍA MOBILE) para segunda entrega*/
@media (max-width: 992px) {
  .contact-info-text {
    display: none;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
  .titulo-logo {
    padding: 10px;
  }
  .titulo-logo img[src*="logo.png"] {
    width: 120px;
    height: auto;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-titulo-movil {
    color: #0C0C89;
    text-decoration: none;
    background-color: #83E2E2;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #0C0C89;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    animation: blink 2s infinite;
  }
  .navbar-text.scrolled {
    padding: 1px;
    font-size: 20px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  /* CONTENEDOR GRID*/
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 50px;
    grid-template-areas: "titulo" "foto1" "texto1" "foto2" "texto2" "foto3" "texto3";
  }
  .contenedor-grid img {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    justify-self: center;
  }
  .contenedor-grid p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .grid-titulo-1 {
    grid-area: titulo;
  }
  .grid-img-1 {
    grid-area: foto1;
  }
  .grid-img-2 {
    grid-area: foto3;
  }
  .grid-img-3 {
    grid-area: foto2;
  }
  .grid-texto-1 {
    grid-area: texto1;
  }
  .grid-texto-2 {
    grid-area: texto2;
  }
  .grid-texto-3 {
    grid-area: texto3;
  }
  .copyright p {
    font-size: 12px;
    text-align: center;
  }
  /* PAGINA CONTACTO */
  form.contacto label {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
  form.contacto h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  form.contacto button {
    padding: 5px;
    font-size: 0.8rem;
  }
  #mapa {
    width: 90%;
  }
  #mapa h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    color: #0C0C89;
    background-color: #ADD8E6;
    text-align: center;
  }
  .card p {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  }
  /* PAGINA NOSOTROS */
  .carousel-caption {
    max-height: 190px;
  }
  .carousel-item h4 {
    font-size: 14px;
  }
  .carousel-item p {
    font-size: 12px;
  }
  .main-nosotros,
  .main-nosotros p {
    text-align: center;
  }
  .multimedia,
  .multimedia p {
    text-align: center;
  }
  .carousel-caption {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5019607843);
    border-radius: 8px;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=style.css.map */