@charset "UTF-8";
/* VARIABLES */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas*/
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas*/
html {
  font-size: 16px;
}

/* BODY - Configuración general */
body {
  font-size: 1rem;
  background-color: #006290;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1em;
  font-family: "Ubuntu", serif;
  color: #ffffff;
}

/* HEADER */
/* A. Banner de Encabezado - Contacto y Redes  */
.banner-top {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.1875em;
  font-size: 0.875rem;
}
.banner-top a {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  margin-right: 0.625em;
}
.banner-top a:hover, .banner-top a:active {
  transition: color 1s ease;
  color: #ffffff;
}
.banner-top a img {
  width: 1.25em;
  height: 1.25em;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-right: 0.3125em;
}
.banner-top a img:hover, .banner-top a img:active {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}
.banner-top .social-icons img {
  width: 1.25em;
  height: 1.25em;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-left: 0.625em;
}

/* B. Banner Principal - Título y logo */
.titulo-logo {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(12, 12, 137) 50%, rgb(9, 9, 117) 75%, rgb(0, 212, 255) 100%);
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 1.25em;
  align-items: center;
}
.titulo-logo img {
  width: 11.25em;
  height: auto;
  color: #ffffff;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  text-decoration: none;
}
.titulo-logo p {
  font-size: 2.25rem;
  margin: 0;
}

/* NAVBAR: Menú de navegación (basado en bootstrap) */
.navbar-titulo {
  color: #0C0C89;
  text-decoration: none;
  background-color: #83E2E2;
  font-weight: bold;
  border: 0.0625em solid #0C0C89;
  padding: 0.1875em 0.625em;
  border-radius: 0.9375em;
}

/* A. navbar - estilos en links */
.navbar {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar-nav .nav-link {
  color: #0C0C89;
}
.navbar-nav .nav-link:hover {
  transition: color 1s ease;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav-contacto {
  animation: blink 2s infinite;
}
.navbar-fixed img.navbar-logo,
.navbar-fixed navbar-text,
.navbar-fixed p {
  display: none;
}

#navbarNav ul {
  align-items: center;
}

/* B. navbar - en scroll */
.navbar-titulo.scrolled {
  display: none;
}

nav .navbar-logo.scrolled {
  width: auto;
  height: 3em;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  display: block;
  max-height: 100%;
  padding-left: 1.25em;
}

.navbar-text.scrolled {
  display: block;
  margin: 0 0.625em;
  font-size: 1.625rem;
  font-weight: bold;
  color: #0C0C89;
}

.navbar-collapse {
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

/* MAIN - Contenido principal de la página */
h1, h2 {
  color: #83E2E2;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-size: 2rem;
  -webkit-text-stroke: 0.0625em #0C0C89;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.25em;
  text-align: justify;
}

span {
  font-weight: bold;
}

.main-img img {
  max-width: 100%;
  height: auto;
}

/* CITA EN INDEX */
.cita {
  margin: 0 0 0.625em 3.125em;
  padding: 0.1875em 1.5625em;
  font-style: italic;
  text-align: right;
  color: #83E2E2;
  border-left: 0.25em solid #83E2E2;
  border-right: 0.25em solid #83E2E2;
  background-color: rgba(255, 255, 255, 0.1019607843);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5019607843);
  font-size: 1em;
}
.cita #leonardo {
  font-size: 1em;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.125em;
}

/* SUBPAGINAS (solo aplicable a ciertas subpaginas */
/*  Boton de home para todas las subáginas menos index.html */
.home {
  width: 1.875em;
  height: 1.875em;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-left: 1.25em;
}
.home:hover, .home:active {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

/* SUBPAGINA NOSOTROS */
/* A. Ejemplos de inserción multimedia relativa y externa */
.multimedia {
  text-align: right;
}
.multimedia p {
  text-align: right;
}
.multimedia .musica {
  margin-top: 1.25em;
}
.multimedia .musica audio {
  width: 100%;
  max-width: 31.25em;
  margin: 0 auto;
  padding: 0.75em;
  font-size: 1.1rem;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #ADD8E6;
}
.multimedia .musica audio::-webkit-media-controls-panel {
  background-color: #ADD8E6;
}
.multimedia .musica audio:hover {
  transition: background-color 1s ease;
  background-color: #0C0C89;
}
.multimedia .video {
  margin-top: 1.25em;
}

/* B. BOOTSTRAP - Carrousel */
.carousel-caption {
  max-width: 30em;
  width: 100%;
  margin: 0 auto;
  padding: 0.625em;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 0.5em;
  box-sizing: border-box;
}
.carousel-caption h4 img {
  width: 1.875em;
  height: auto;
  margin-right: 0.3125em;
  vertical-align: middle;
}

.carousel-inner img {
  max-width: 31.25em;
  max-height: 31.25em;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* SUBPAGINA DE CONTACTO */
/* A. formulario */
form.contacto {
  width: 90%;
  color: #0C0C89;
  margin: 1.25em auto;
  padding: 1.25em;
  border-radius: 0.5em;
  background-color: #ADD8E6;
}

form.contacto label {
  display: block;
  margin-bottom: 0.3125em;
  font-size: 1.1rem;
  color: #000000;
}

form.contacto input,
form.contacto textarea {
  width: 100%;
  padding: 0.625em;
  font-size: 1rem;
  border: 0.0625em solid #ffffff;
  border-radius: 0.25em;
}

/* B. Mapa insertado */
#mapa {
  width: 48%;
  color: #0C0C89;
  margin: 1.25em auto;
  padding: 1.25em;
  border-radius: 0.5em;
  background-color: #ADD8E6;
}

.mapa-ubicacion {
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  height: 23.125em;
  border: none; /* Elimina el borde */
  margin: 0; /* Elimina márgenes */
  overflow: hidden; /* Evita el scroll interno */
}

/* C. BOOTSTRAP - Cards */
.card {
  margin: 1.25em auto;
  padding: 1.25em;
  border-radius: 0.5em;
  color: #0C0C89;
  background-color: #ADD8E6;
}

.card img {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.9375em;
  margin-left: 0.9375em;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

.card .btn-primary {
  margin: 0.1em;
}

/* GRID CONTAINER */
.contenedor-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 5em 6.25em repeat(2, 15.625em);
  padding-top: 3.125em;
  grid-template-areas: "titulo titulo titulo" "foto1 texto1 texto1" "foto1 foto2 foto2" "texto2 foto3 texto3";
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.contenedor-grid img {
  width: 80%;
  height: auto;
}

.contenedor-grid p {
  font-size: 1.125em;
}

.grid-titulo-1 {
  grid-area: titulo;
  padding-bottom: 2.5em;
}

.grid-img-1 {
  grid-area: foto1;
  justify-self: start;
  align-self: start;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: foto2;
  justify-self: right;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: foto3;
  align-self: self-end;
}

.grid-texto-3 {
  grid-area: texto3;
}

/* BOTONES */
.boton, .btn-primary, .boton-yt {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  background-color: #0C0C89;
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.boton:hover, .btn-primary:hover, .boton-yt:hover {
  transition: background-color 1s ease;
  background-color: #006290;
}

.boton-yt {
  color: #0C0C89;
  background-color: #ADD8E6;
  width: -moz-fit-content;
  width: fit-content;
}
.boton-yt:hover {
  transition: background-color 1s ease;
  color: #ADD8E6;
  background-color: #0C0C89;
}
.boton-yt:hover img {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(96%) sepia(85%) saturate(873%) hue-rotate(167deg) brightness(94%) contrast(91%);
}
.boton-yt img {
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

.btn-primary {
  background-color: #0C0C89;
  width: -moz-fit-content;
  width: fit-content;
}

/* FOOTER - Pie de página y scripts */
/* A. Pie de página */
footer svg {
  margin-bottom: -0.3125em;
}

.copyright p {
  text-align: right;
  font-style: italic;
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  font-size: 0.875rem;
}

/* SCRIPTS */
.whatsapp-btn {
  color: #ffffff;
  text-decoration: none;
}

a.whatsapp-btn {
  background-color: transparent;
}

.scrollup img {
  width: 3.125em;
  height: 3.125em;
  position: fixed;
  right: 2%;
  bottom: 8%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  display: block;
  border-radius: 50%;
}

/* MEDIA QUERIES */
/* TAMAÑO MEDIANO (TABLET) hasta 992px*/
@media (min-width: 501px) and (max-width: 992px) {
  .contact-info-text {
    display: none;
  }
  .titulo-logo {
    padding: 0.625em;
  }
  .titulo-logo img {
    width: 7.5em;
    height: auto;
  }
  .titulo-logo p {
    font-size: 1.5rem;
    margin: 0;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-titulo-movil {
    color: #0C0C89;
    text-decoration: none;
    background-color: #83E2E2;
    font-weight: bold;
    font-size: 1rem;
    border: 0.0625em solid #0C0C89;
    padding: 0.0625em 0.625em;
    border-radius: 0.9375em;
    animation: blink 2s infinite;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .navbar-text.scrolled {
    padding: 0.0625em;
    font-size: 1.25rem;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar-nav .nav-item {
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  .navbar-nav .nav-item:last-child {
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 3.125em;
    grid-template-areas: "titulo" "foto1" "texto1" "foto2" "texto2" "foto3" "texto3";
  }
  .contenedor-grid img {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .contenedor-grid p {
    font-size: 1.125rem;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  .grid-titulo-1 {
    grid-area: titulo;
  }
  .grid-img-1 {
    grid-area: foto1;
  }
  .grid-img-2 {
    grid-area: foto3;
  }
  .grid-img-3 {
    grid-area: foto2;
  }
  .grid-texto-1 {
    grid-area: texto1;
  }
  .grid-texto-2 {
    grid-area: texto2;
  }
  .grid-texto-3 {
    grid-area: texto3;
  }
  .copyright p {
    font-size: 0.75rem;
    text-align: center;
  }
  .carousel-caption {
    max-height: 11.875em;
  }
  .carousel-item h4 {
    font-size: 0.875rem;
  }
  .carousel-item p {
    font-size: 0.75rem;
  }
  .carousel-caption {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    padding: 0.625em;
    background-color: rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.5em;
    box-sizing: border-box;
  }
  #mapa {
    width: 90%; /* Ajusta el ancho para que ocupe más espacio */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 1.25em; /* Añade un poco de espacio interno */
    background-color: #ADD8E6; /* Asegura que el color celeste se mantenga */
    border-radius: 0.5em; /* Mantén el diseño redondeado */
  }
}
/* MEDIA QUERIES */
/* TAMAÑO PEQUEÑO (MOBILE) hasta 500px*/
@media (max-width: 31.25em) {
  .contact-info-text {
    display: none;
  }
  .titulo-logo {
    padding: 0.625em;
    flex-direction: row;
    text-align: center;
  }
  .titulo-logo img {
    width: 5em;
    height: auto;
    margin-left: 0.625em;
  }
  .titulo-logo p {
    font-size: 1.125rem;
    margin: 0;
    padding-top: 0.3125em;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-titulo-movil {
    color: #0C0C89;
    text-decoration: none;
    background-color: #83E2E2;
    font-weight: bold;
    font-size: 1rem;
    border: 0.0625em solid #0C0C89;
    padding: 0.0625em 0.625em;
    border-radius: 0.9375em;
    animation: blink 2s infinite;
  }
  .navbar-text.scrolled {
    padding: 0.0625em;
    font-size: 1.25rem;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 3.125em;
    grid-template-areas: "titulo" "foto1" "texto1" "foto2" "texto2" "foto3" "texto3";
  }
  .contenedor-grid img {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .contenedor-grid p {
    font-size: 1.125rem;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  .grid-titulo-1 {
    grid-area: titulo;
  }
  .grid-img-1 {
    grid-area: foto1;
  }
  .grid-img-2 {
    grid-area: foto3;
  }
  .grid-img-3 {
    grid-area: foto2;
  }
  .grid-texto-1 {
    grid-area: texto1;
  }
  .grid-texto-2 {
    grid-area: texto2;
  }
  .grid-texto-3 {
    grid-area: texto3;
  }
  .copyright p {
    font-size: 0.75rem;
    text-align: center;
  }
  form.contacto label {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
  form.contacto h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  form.contacto button {
    padding: 0.3125em;
    font-size: 0.8rem;
  }
  #mapa {
    width: 90%;
  }
  #mapa h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card {
    margin: 1.25em auto;
    padding: 1.25em;
    border-radius: 0.5em;
    color: #0C0C89;
    background-color: #ADD8E6;
    text-align: center;
  }
  .card p {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card img {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.9375em;
    margin-left: 0.9375em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  }
  .carousel-caption {
    max-height: 11.875em;
  }
  .carousel-item h4 {
    font-size: 0.875rem;
  }
  .carousel-item p {
    font-size: 0.75rem;
  }
  .main-nosotros,
  .main-nosotros p {
    text-align: center;
  }
  .multimedia,
  .multimedia p {
    text-align: center;
  }
  .carousel-caption {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 0.625em;
    background-color: rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.5em;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=style.css.map */