@charset "UTF-8";
/* VARIABLES */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY - Configuración general */
body {
  background-color: #006290;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-family: "Ubuntu", serif;
  color: #ffffff;
}

/* HEADER */
/* A. Banner de Encabezado - Contacto y Redes  */
.banner-top {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 3px;
  font-size: 14px;
}
.banner-top a {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  margin-right: 10px;
}
.banner-top a:hover, .banner-top a:active {
  transition: color 1s ease;
  color: #ffffff;
}
.banner-top a img {
  width: 20px;
  height: 20px;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-right: 5px;
}
.banner-top a img:hover, .banner-top a img:active {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}
.banner-top .social-icons img {
  width: 20px;
  height: 20px;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-left: 10px;
}

/* B. Banner Principal - Título y logo */
.titulo-logo {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(12, 12, 137) 50%, rgb(9, 9, 117) 75%, rgb(0, 212, 255) 100%);
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 20px;
}

.titulo-logo img {
  width: 180px;
  height: auto;
  color: #ffffff;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  text-decoration: none;
}

/* NAVBAR: Menú de navegación (basado en bootstrap) */
.navbar-titulo {
  color: #0C0C89;
  text-decoration: none;
  background-color: #83E2E2;
  font-weight: bold;
  border: 1px solid #0C0C89;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

/* A. navbar - estilos en links */
.navbar {
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  padding: 1px;
}
.navbar-nav .nav-link {
  color: #0C0C89;
}
.navbar-nav .nav-link:hover {
  transition: color 1s ease;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav-contacto {
  animation: blink 2s infinite;
}
.navbar-fixed img.navbar-logo,
.navbar-fixed navbar-text,
.navbar-fixed p {
  display: none;
}

#navbarNav ul {
  align-items: center;
}

/* B. navbar - en scroll */
.navbar-titulo.scrolled {
  display: none;
}

nav .navbar-logo.scrolled {
  width: auto;
  height: 3em;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  display: block;
  max-height: 100%;
  padding-left: 20px;
}

.navbar-text.scrolled {
  display: block;
  margin: 0 10px;
  font-size: 26px;
  font-weight: bold;
  color: #0C0C89;
}

.navbar-collapse {
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

/* MAIN - Contenido principal de la página */
h3 {
  color: #83E2E2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  -webkit-text-stroke: 1px #0C0C89;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

/* CITA EN INDEX */
.cita {
  margin: 0 0 10px 50px;
  padding: 3px 25px;
  font-style: italic;
  text-align: right;
  color: #83E2E2;
  border-left: 4px solid #83E2E2;
  border-right: 4px solid #83E2E2;
  background-color: rgba(255, 255, 255, 0.1019607843);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
}
.cita #leonardo {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2px;
}

/* SUBPAGINAS (solo aplicable a ciertas subpaginas */
/*  Boton de home para todas las subáginas menos index.html */
.home {
  width: 30px;
  height: 30px;
  color: #0C0C89;
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
  text-decoration: none;
  margin-left: 20px;
}
.home:hover, .home:active {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

/* SUBPAGINA NOSOTROS */
/* A. Ejemplos de inserción multimedia relativa y externa */
.multimedia {
  text-align: right;
}
.multimedia p {
  text-align: right;
}
.multimedia .musica {
  margin-top: 20px;
}
.multimedia .musica audio {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ADD8E6;
  /* Estilos adicionales */
}
.multimedia .musica audio::-webkit-media-controls-panel {
  background-color: #ADD8E6;
}
.multimedia .musica audio:hover {
  transition: background-color 1s ease;
  background-color: #0C0C89;
}
.multimedia .video {
  margin-top: 20px;
}

/* B. BOOTSTRAP - Carrousel */
.carousel-caption {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 8px;
  box-sizing: border-box;
}
.carousel-caption h4 img {
  width: 30px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.carousel-inner img {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* SUBPAGINA DE CONTACTO */
/* A. formulario */
form.contacto {
  width: 90%;
  color: #0C0C89;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ADD8E6;
}

form.contacto label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #000000;
}

form.contacto input,
form.contacto textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* B. Mapa insertado */
#mapa {
  width: 48%;
  color: #0C0C89;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ADD8E6;
}

/* C. BOOTSTRAP - Cards */
.card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  color: #0C0C89;
  background-color: #ADD8E6;
}

.card img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
}

/* GRID CONTAINER */
.contenedor-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 80px 100px repeat(2, 250px);
  padding-top: 50px;
  grid-template-areas: "titulo titulo titulo" "foto1 texto1 texto1" "foto1 foto2 foto2" "texto2 foto3 texto3";
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.contenedor-grid img {
  width: 80%;
  height: auto;
}

.contenedor-grid p {
  font-size: 18px;
}

.grid-titulo-1 {
  grid-area: titulo;
  padding-bottom: 40px;
}

.grid-img-1 {
  grid-area: foto1;
  justify-self: start;
  align-self: start;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: foto2;
  justify-self: right;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: foto3;
  align-self: self-end;
}

.grid-texto-3 {
  grid-area: texto3;
}

/* BOTONES */
.boton, .btn-primary, .boton-yt {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  background-color: #0C0C89;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.boton:hover, .btn-primary:hover, .boton-yt:hover {
  transition: background-color 1s ease;
  background-color: #006290;
}

.boton-yt {
  color: #0C0C89;
  background-color: #ADD8E6;
  width: -moz-fit-content;
  width: fit-content;
}
.boton-yt:hover {
  transition: background-color 1s ease;
  color: #ADD8E6;
  background-color: #0C0C89;
}
.boton-yt:hover img {
  transition: filter 1s ease;
  filter: brightness(0) saturate(100%) invert(96%) sepia(85%) saturate(873%) hue-rotate(167deg) brightness(94%) contrast(91%);
}
.boton-yt img {
  filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
}

.btn-primary {
  background-color: #0C0C89;
  width: -moz-fit-content;
  width: fit-content;
}

/* FOOTER - Pie de página y scripts */
/* A. Pie de página */
footer svg {
  margin-bottom: -5px;
}

.copyright p {
  text-align: right;
  font-style: italic;
  color: #0C0C89;
  background-color: #ADD8E6;
  text-decoration: none;
  font-size: 14px;
}

/* SCRIPTS */
.whatsapp-btn {
  color: #ffffff;
  text-decoration: none;
}

a.whatsapp-btn {
  background-color: transparent;
}

.scrollup img {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 2%;
  bottom: 8%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  display: block;
  border-radius: 50%;
}

/* MEDIA QUERIES */
/* TAMAÑO MEDIANO (TABLET) hasta 992px*/
@media (min-width: 501px) and (max-width: 992px) {
  .contact-info-text {
    display: none;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
  .titulo-logo {
    padding: 10px;
  }
  .titulo-logo img[src*="logo.png"] {
    width: 120px;
    height: auto;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-titulo-movil {
    color: #0C0C89;
    text-decoration: none;
    background-color: #83E2E2;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #0C0C89;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    animation: blink 2s infinite;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .navbar-text.scrolled {
    padding: 1px;
    font-size: 20px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-nav .nav-item:last-child {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* MEDIA QUERIES */
/* TAMAÑO PEQUEÑO (MOBILE) hasta 500px*/
@media (max-width: 500px) {
  .contact-info-text {
    display: none;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
  .titulo-logo {
    padding: 10px;
  }
  .titulo-logo img {
    width: 100px;
    height: auto;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-titulo-movil {
    color: #0C0C89;
    text-decoration: none;
    background-color: #83E2E2;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #0C0C89;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    animation: blink 2s infinite;
  }
  .navbar-text.scrolled {
    padding: 1px;
    font-size: 20px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  /* CONTENEDOR GRID*/
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 50px;
    grid-template-areas: "titulo" "foto1" "texto1" "foto2" "texto2" "foto3" "texto3";
  }
  .contenedor-grid img {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .contenedor-grid p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .grid-titulo-1 {
    grid-area: titulo;
  }
  .grid-img-1 {
    grid-area: foto1;
  }
  .grid-img-2 {
    grid-area: foto3;
  }
  .grid-img-3 {
    grid-area: foto2;
  }
  .grid-texto-1 {
    grid-area: texto1;
  }
  .grid-texto-2 {
    grid-area: texto2;
  }
  .grid-texto-3 {
    grid-area: texto3;
  }
  .copyright p {
    font-size: 12px;
    text-align: center;
  }
  /* PAGINA CONTACTO */
  form.contacto label {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
  form.contacto h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  form.contacto button {
    padding: 5px;
    font-size: 0.8rem;
  }
  #mapa {
    width: 90%;
  }
  #mapa h5 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    color: #0C0C89;
    background-color: #ADD8E6;
    text-align: center;
  }
  .card p {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
  }
  .card img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
  }
  /* PAGINA NOSOTROS */
  .carousel-caption {
    max-height: 190px;
  }
  .carousel-item h4 {
    font-size: 14px;
  }
  .carousel-item p {
    font-size: 12px;
  }
  .main-nosotros,
  .main-nosotros p {
    text-align: center;
  }
  .multimedia,
  .multimedia p {
    text-align: center;
  }
  .carousel-caption {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5019607843);
    border-radius: 8px;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=style.css.map */