// VARIABLES SIEMPRE PRIMERO
@use 'partials/variables';
@use 'partials/general';
@use 'partials/header';
@use 'partials/navbar';
@use 'partials/main_comun';
@use 'partials/cita';
@use 'partials/subpages';
@use 'partials/nosotros';
@use 'partials/contacto';
@use 'partials/grid';
@use 'partials/buttons';
@use 'partials/footer';



// SIEMPRE ABAJO DE TODO
@use 'partials/scripts';
@use 'partials/queries';