/* BOTONES */

@use 'variables' as *;

@mixin boton-base($bg-color, $text-color) {
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1.1rem;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;

    &:hover {
        transition: background-color 1s ease;
    }
}

.boton {
    @include boton-base($azul-oscuro, $blanco);

    &:hover {
        background-color: $azul;
    }
}

.boton-yt {
    @extend .boton;
    color: $azul-oscuro;
    background-color: $azul-claro;
    width: fit-content;

    &:hover {
        color: $azul-claro;
        background-color: $azul-oscuro;

        img {
            transition: filter 1s ease;
            filter: $azul-claro-i;
        }
    }

    img {
        filter: $azul-oscuro-i;
    }
}

.btn-primary {
    @extend .boton;
    background-color: $azul-oscuro;
    width: fit-content;
}