// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;

.boton {
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
        background-color: $azul-oscuro;
        color: $blanco;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.boton-yt img {
    filter: $azul-oscuro-i;
}

//   // USO DE @EXTEND

.boton-yt {
@extend .boton;
color: $azul-oscuro;
background-color: $azul-claro;
width: fit-content;
}

.btn-primary  {
@extend .boton;
background-color: $azul-oscuro;
width:fit-content;
}


// ANIMACIONES

.boton:hover {
background-color: $azul;
}

.boton-yt:hover {
    color: $azul-claro;
    background-color: $azul-oscuro;
}

.boton-yt:hover img {
    filter: $azul-claro-i;
}
