@use 'variables' as *;

/* CITA EN INDEX */
@mixin cita-base {
    font-style: italic;
    text-align: right;
    color: $azul-fuerte;
    border-left: 0.25em solid $azul-fuerte;
    border-right: 0.25em solid $azul-fuerte;
    background-color: $blanco-transparente;
    box-shadow: 0 0.25em 0.5em $negro-transparente;
    font-size: 1em;
}

.cita {
    margin: 0 0 0.625em 3.125em;
    padding: 0.1875em 1.5625em;
    @include cita-base;

    #leonardo {
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        color: $blanco;
        margin-bottom: 0.125em;
    }
}