@use 'variables' as *;

/* B. Cita */
.cita {
    margin: 0 0 10px 50px;
    padding: 3px 25px;
    font-style: italic;
    text-align: right;
    color: $azul-fuerte;
    border-left: 4px solid $azul-fuerte;
    border-right: 4px solid $azul-fuerte;
    background-color: $blanco-transparente;
    box-shadow: 0 4px 8px $negro-transparente;
    font-size: 16px;

    #leonardo {
        font-size: 16px;
        text-align: right;
        font-weight: bold;
        color: $blanco;
        margin-bottom: 2px;
    }
}