@use 'variables' as *;


/* SUBPAGINA DE CONTACTO */

/* A. formulario */

form.contacto {
    width: 90%;
    color: $azul-oscuro;
    margin: 1.25em auto; 
    padding: 1.25em;
    border-radius: 0.5em; 
    background-color: $azul-claro;
}

form.contacto label {
    display: block;
    margin-bottom: 0.3125em; 
    font-size: 1.1rem;
    color: $negro;
}

form.contacto input,
form.contacto textarea {
    width: 100%;
    padding: 0.625em;
    font-size: 1rem;
    border: 0.0625em solid $blanco; 
    border-radius: 0.25em; 
}

/* B. Mapa insertado */

#mapa {
    width: 48%;
    color: $azul-oscuro;
    margin: 1.25em auto; 
    padding: 1.25em;
    border-radius: 0.5em; 
    background-color: $azul-claro;
}

.mapa-ubicacion {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: 23.125em; 
    border: none; /* Elimina el borde */
    margin: 0; /* Elimina márgenes */
    overflow: hidden; /* Evita el scroll interno */
}

/* C. BOOTSTRAP - Cards */

.card {
    margin: 1.25em auto; 
    padding: 1.25em; 
    border-radius: 0.5em;
    color: $azul-oscuro;
    background-color: $azul-claro;
}

.card img {
    width: 1.25em;
    height: 1.25em; 
    margin-right: 0.9375em;
    margin-left: 0.9375em;
    filter: $blanco-i;
}

.card .btn-primary {
    margin: 0.1em;
}