@use 'variables' as *;


/* SUBPAGINA DE CONTACTO */

/* A. formulario */

form.contacto {
    width: 90%;
    color: $azul-oscuro;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: $azul-claro;
}

form.contacto label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: $negro;
}

form.contacto input,
form.contacto textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $blanco;
    border-radius: 4px;
}

/* B. Mapa insertado */

#mapa {
    width: 48%;
    color: $azul-oscuro;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: $azul-claro;
}

.mapa-ubicacion {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: 370px; /* Altura fija */
    border: none; /* Elimina el borde */
    margin: 0; /* Elimina márgenes */
    overflow: hidden; /* Evita el scroll interno */
}

/* C. BOOTSTRAP - Cards */

.card {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    color: $azul-oscuro;
    background-color: $azul-claro;
}


.card img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
    filter: $blanco-i;
}