@use 'variables' as *;

/* FOOTER - Pie de página y scripts */

/* A. Pie de página */


footer svg {
    margin-bottom: -0.3125em;
}

.copyright {
    p {
        text-align: right;
        font-style: italic;
        @include banners;
        font-size: 0.875rem;
    }
}