// VARIABLES SIEMPRE PRIMERO
@use 'variables';


/* IV. FOOTER - Pie de página y scripts */

/* A. Pie de página */

.copyright p {
    text-align: right;
    font-style: italic;
    background-color: #ADD8E6;
    /* Color de fondo */
    color: #0C0C89;
    /* Color del texto */
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 0px;
}
