// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;


/* IV. FOOTER - Pie de página y scripts */

/* A. Pie de página */

.copyright p {
    text-align: right;
    font-style: italic;
    @include banners;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 0px;
}
