@use 'variables' as *;


/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY - Configuración general */

body {
    background-color: $azul;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: "Ubuntu", serif;
    color: $blanco;
}