@use 'variables' as *;

/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas*/

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURACION PARA INDEX.HTML y residual para subpaginas*/

@mixin body-style {
    font-size: $font-size-base;
    background-color: $azul;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    font-family: "Ubuntu", serif;
    color: $blanco;
}

html {
    font-size: 16px;
}

/* BODY - Configuración general */

body {
    @include body-style;
}