// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;


// GENERAL


// CONFIGURACION PARA INDEX.HTML y residual para subpaginas



// Reset CSS
// Resetea las propiedades de margen y relleno y establece el modelo de caja en border-box


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BODY - Configuración general

body {
    background-color: $azul;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: "Ubuntu", serif;
    color: $blanco;
}

