@use 'variables' as *;


/* HEADER */

/* A. Banner de Encabezado - Contacto y Redes  */

.banner-top {
    @include banners;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    padding: 0.1875em;
    font-size: 0.875rem;

    a {
        @include banners;
        margin-right: 0.625em;

        &:hover,
        &:active {
            transition: color 1s ease;
            color: $blanco;
        }

        img {
            @include link-azul(1.25em, 1.25em);
            margin-right: 0.3125em;

            &:hover,
            &:active {
                transition: filter 1s ease;
                filter: $blanco-i;
            }
        }
    }

    .social-icons img {
        @include link-azul(1.25em, 1.25em);
        margin-left: 0.625em;
    }
}



/* B. Banner Principal - Título y logo */

.titulo-logo {
    background: $azul-oscuro-g;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 1.25em;
    align-items: center; 

    img {
    @include link-blanco(11.25em, auto);
}

p {
    font-size: 2.25rem;
    margin: 0;

}



}

