// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;


/* I. HEADER */

/* A. Banner de Encabezado - Contacto y Redes  */

.banner-top {
    @include banners;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    padding: 3px;
    font-size: 14px;
}



.banner-top a {
    @include banners;
    margin-right: 10px;
}

.banner-top img {
    @include link-azul;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.social-icons img {
    @include link-azul;
    width: 20px;
    height: 20px;
    margin-left: 10px; //ver biene xtructura variable del mixin, esto peude ser una variable del mixin, usar todos juntos y cambiar esto, lo mismo el temaño (o no pq es uno solo)
}


.banner-top a:hover,
.banner-top a:active {
    color: $blanco;
}

.banner-top a:hover img,
.banner-top a:active img {
    filter: $blanco-i;
}









/* B. Banner Principal - Título y logo */

.titulo-logo {
    background-color: $azul-oscuro;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 20px;
}

.titulo-logo img {
    width: 180px;
    height: auto;
}