
// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;


/* I. HEADER */

/* A. Banner de Encabezado - Contacto y Redes  */

.banner-top {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: $azul-claro;
    justify-content: space-between;
    padding: 3px;
    font-size: 14px;
}

.contact-info img {
    width: 20px;
    height: 20px;
    filter: $azul-oscuro-i;
    margin-right: 5px;
}

.contact-info a {
    color: $azul-oscuro;
    text-decoration: none;
    margin-right: 10px;
}

.contact-info a:hover,
.contact-info a:active {
    color: $blanco;
}


.social-icons img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: $azul-oscuro-i;
}



.banner-top a:hover img,
.banner-top a:active img {
    /* Cambia el color de las imagenes a blanco cuando hago hover o las cliqueo */
    filter: $blanco-i;
}


/* B. Banner Principal - Título y logo */

.titulo-logo {
    background-color: $azul-oscuro;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 20px;
}

.titulo-logo img {
    width: 180px;
    height: auto;
}