@use 'variables' as *;


/* MAIN - Contenido principal de la página */

h1,h2 {
    color: $azul-fuerte;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    -webkit-text-stroke: 1px $azul-oscuro;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}