@use 'variables' as *;


/* MAIN - Contenido principal de la página */

h1, h2 {
    color: $azul-fuerte;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    font-size: 2rem;
    -webkit-text-stroke: 0.0625em $azul-oscuro;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.25em;
    text-align: justify;
}