// VARIABLES SIEMPRE PRIMERO
@use 'variables';


/* III. MAIN - Contenido principal de la página */

/* A. Elementos en general */

h3 {
    color: #83E2E2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    -webkit-text-stroke: 1px #0C0C89;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

