@use 'variables' as *;

/* NAVBAR: Menú de navegación (basado en bootstrap) */

@mixin navbar-titulo-style($bg-color, $text-color, $border-color) {
    color: $text-color;
    text-decoration: none;
    background-color: $bg-color;
    font-weight: bold;
    border: 0.0625em solid $border-color;
    padding: 0.1875em 0.625em;
    border-radius: 0.9375em;
}

.navbar-titulo {
    @include navbar-titulo-style($azul-fuerte, $azul-oscuro, $azul-oscuro);
}

/* A. navbar - estilos en links */

.navbar {
    @include banners;
    padding: 0 1rem;

    &-nav {
        .nav-link {
            color: $azul-oscuro;

            &:hover {
                transition: color 1s ease;
                color: $blanco;
                text-decoration: none;
            }
        }
    }

    .nav-contacto {
        animation: blink 2s infinite;
    }

    &-fixed {

        img.navbar-logo,
        navbar-text,
        p {
            display: none;
        }
    }
}

#navbarNav {
    ul {
        align-items: center;
    }
}

/* B. navbar - en scroll */

.navbar-titulo.scrolled {
    display: none;
}

nav .navbar-logo.scrolled {
    @include link-azul(auto, 3em);
    display: block;
    max-height: 100%;
    padding-left: 1.25em;
}

.navbar-text.scrolled {
    display: block;
    margin: 0 0.625em;
    font-size: 1.625rem;
    font-weight: bold;
    color: $azul-oscuro;
}

.navbar-collapse {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
}