/* II. NAVBAR: Menú de navegación (basado en bootstrap) */


// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;



.navbar-titulo {
    color: $azul-oscuro;
    text-decoration: none;
    background-color: $azul-fuerte;
    font-weight: bold;
    border: 1px solid $azul-oscuro;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    /* border-radius: Redondea la esquina elegida del borde (en este caso todas pero podes asignarle top-left etc */
}

/* navbar - estilos en links */

.navbar {
    @include banners;
    padding: 1px;

    &-nav {
        .nav-link {
            color: $azul-oscuro;
            &:hover {
                color: $blanco;
                text-decoration: none;
            }
        }
    }

    &-fixed {
        img.navbar-logo,
        navbar-text,
        p {
            display: none;
        }
    }
}

#navbarNav {
    ul {
        align-items: center;
    }
}


/* navbar - en scroll */


.navbar-titulo.scrolled {
    display: none;
}

nav .navbar-logo.scrolled {
    @include link-azul(auto, 3em);
    display: block;
    max-height: 100%;
    padding-left: 20px;    
}


.navbar-text.scrolled {
    display: block;
    margin: 0 10px;
    font-size: 26px;
    font-weight: bold;
    color: $azul-oscuro;
}

.navbar-collapse {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
}