@use 'variables' as *;

/* SUBPAGINA NOSOTROS */

/* A. Ejemplos de inserción multimedia relativa y externa */
.multimedia {
    text-align: right;

    p {
        text-align: right;
    }

    .musica {
        margin-top: 1.25em;

        audio {
            width: 100%;
            max-width: 31.25em;
            margin: 0 auto;
            padding: 0.75em;
            font-size: 1.1rem;
            border-radius: 0.25em;
            cursor: pointer;
            background-color: $azul-claro;

            &::-webkit-media-controls-panel {
                background-color: $azul-claro;
            }

            &:hover {
                transition: background-color 1s ease;
                background-color: $azul-oscuro;
            }
        }
    }

    .video {
        margin-top: 1.25em;
    }
}

/* B. BOOTSTRAP - Carrousel */
.carousel-caption {
    max-width: 30em;
    width: 100%;
    margin: 0 auto;
    padding: 0.625em;
    background-color: $negro-transparente;
    border-radius: 0.5em;
    box-sizing: border-box;

    h4 img {
        width: 1.875em;
        height: auto;
        margin-right: 0.3125em;
        vertical-align: middle;
    }
}

.carousel-inner img {
    max-width: 31.25em;
    max-height: 31.25em;
    width: 100%;
    height: auto;
    margin: 0 auto;
}