@use 'variables' as *;

/* MEDIA QUERIES */

/* TAMAÑO MEDIANO (TABLET) hasta 992px*/

@media (min-width: 501px) and (max-width: 992px) {

    .contact-info-text {
        display: none;
    }

    .titulo-logo {
        padding: 10px;

        img {
        width: 120px;
        height: auto;
    }
    p {
        font-size: 24px;
        margin: 0;
    
    }
}

    .navbar-titulo {
        display: none;
    }



    .navbar-titulo-movil {
        color: $azul-oscuro;
        text-decoration: none;
        background-color: $azul-fuerte;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid $azul-oscuro;
        padding: 1px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 15px;
        animation: blink 2s infinite;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .navbar-text.scrolled {
        padding: 1px;
        font-size: 20px;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-nav .nav-item:last-child {
        margin-left: 10px;
        margin-right: 10px;
    }


   /* CONTENEDOR GRID*/

   .contenedor-grid {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 50px;
    grid-template-areas:
        "titulo"
        "foto1"
        "texto1"
        "foto2"
        "texto2"
        "foto3"
        "texto3";
}

.contenedor-grid img {
    width: 100%;
    height: auto;
    justify-self: center;
}

.contenedor-grid p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.grid-titulo-1 {
    grid-area: titulo;
}

.grid-img-1 {
    grid-area: foto1;
}

.grid-img-2 {
    grid-area: foto3;
}

.grid-img-3 {
    grid-area: foto2;
}

.grid-texto-1 {
    grid-area: texto1;
}

.grid-texto-2 {
    grid-area: texto2;
}

.grid-texto-3 {
    grid-area: texto3;
}

.copyright p {
    font-size: 12px;
    text-align: center;
}



    /* PAGINA NOSOTROS */

    .carousel-caption {
        max-height: 190px;
    }

    .carousel-item h4 {
        font-size: 14px;
    }

    .carousel-item p {
        font-size: 12px;
    }


    .carousel-caption {
        max-width: 50%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        background-color: $negro-transparente;
        border-radius: 8px;
        box-sizing: border-box;
    }
}