// VARIABLES SIEMPRE PRIMERO
@use 'variables' as *;



/* B. Scripts */

.whatsapp-btn {
    color: $blanco;
    text-decoration: none;
}

a.whatsapp-btn {
    background-color: transparent;
}

.scrollup img {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 8%;
    filter: $blanco-i;
    display: block;
    /* Asegura que la imagen se muestre como un bloque */
    border-radius: 50%;
    /* Animación de respiración */
}

