@use 'variables' as *;



/* SCRIPTS */

.whatsapp-btn {
    color: $blanco;
    text-decoration: none;
}

a.whatsapp-btn {
    background-color: transparent;
}

.scrollup img {
    width: 3.125em;
    height: 3.125em;
    position: fixed;
    right: 2%;
    bottom: 8%;
    filter: $blanco-i;
    display: block;
    border-radius: 50%;
}