@use 'variables' as *;

/* SUBPAGINAS (solo aplicable a ciertas subpaginas */

/* Botón de home para todas las subpáginas menos index.html */

@mixin home-button-style {
    @include link-azul(1.875em, 1.875em);
    margin-left: 1.25em;

    &:hover,
    &:active {
        transition: filter 1s ease;
        filter: $blanco-i;
    }
}

.home {
    @include home-button-style;
}