

// COLORES TEXTO Y BACKGROUND

$azul: #006290;
$azul-oscuro: #0C0C89;
$azul-claro: #ADD8E6;
$azul-fuerte: #83E2E2;
$blanco: #ffffff;
$negro: #000000;
$blanco-transparente: #FFFFFF1A;
$negro-transparente: #00000080; // Negro con 50% de transparencia

// COLORES SVG
$azul-i: brightness(0) saturate(100%) invert(19%) sepia(99%) saturate(2106%) hue-rotate(180deg) brightness(96%) contrast(102%);
$azul-oscuro-i: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(4673%) hue-rotate(233deg) brightness(123%) contrast(106%);
$azul-claro-i: brightness(0) saturate(100%) invert(96%) sepia(85%) saturate(873%) hue-rotate(167deg) brightness(94%) contrast(91%);
$azul-fuerte-i: brightness(0) saturate(100%) invert(96%) sepia(49%) saturate(1132%) hue-rotate(153deg) brightness(90%) contrast(97%);
$blanco-i: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(103%);
$negro-i: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7485%) hue-rotate(2deg) brightness(101%) contrast(104%);